/*
 * Custom pin mapping for non-standard AliExpress Corne PCB.
 * Extracted from seller's backup firmware via UF2 binary analysis.
 *
 * This board swaps rows/cols vs standard foostan Corne and uses
 * pro_micro pin 8 (P1.04) instead of pin 21 (P0.31).
 *
 * Standard Corne:  cols = 21,20,19,18,15,14  rows = 4,5,6,7
 * This PCB:        cols = 20,8,7,6,5,4       rows = 19,18,15,14
 */

&kscan0 {
    row-gpios
        = <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
    col-gpios
        = <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 8 GPIO_ACTIVE_HIGH>
        , <&pro_micro 7 GPIO_ACTIVE_HIGH>
        , <&pro_micro 6 GPIO_ACTIVE_HIGH>
        , <&pro_micro 5 GPIO_ACTIVE_HIGH>
        , <&pro_micro 4 GPIO_ACTIVE_HIGH>
        ;
};
